.row
  div.span12
    .hero-unit#indexHeroUnit
      h1 Ignite your imagination. 
      p Let fantastic concept art inspire you. Share your stories with other imagineers. 
      p
        a.btn.btn-primary(href="/howto") Show me how it works! »
        | 
        a.btn(href="/random") Take me to a scene already! »
.row
  div.span8
      h2 Hello!
      p Welcome to Spark. This is a platform for authors like you who want to find inspiration in concept art from all over the internet. You can add Stories to the concept artpieces (which are called Scenes) and share them to inspire others.  
  div.span4
      h3 Fantastic voyages ahead
      p You can begin inspecting all the Scenes here on Spark right now. Get inspired!
      a.btn.btn-primary(href='/scenes') Browse Scenes »
.row.clear
  &nbsp;
.row#indexRandomScenes
  div.span4
    .well 
      h3 Check.
      a(href='/'+docs[0]._id)
        div.image
          img(id=docs[0]._id,src=docs[0].url, alt=docs[0].body) 
        div
          h6= docs[0].title 
            small.pull-right= "by "+docs[0].createUserName
          a.btn(href='/'+docs[0]._id ) Show me the Stories »
      
  div.span4
    .well
      h3 These.
      a(href='/'+docs[1]._id)
        div.image
          img(id=docs[1]._id,src=docs[1].url, alt=docs[1].body) 
        div
          h6= docs[1].title 
            small.pull-right= "by "+docs[1].createUserName
          a.btn(href='/'+docs[1]._id ) Show me the Stories »

  div.span4
    .well
      h3 Out!
      a(href='/'+docs[2]._id)
        div.image
          img(id=docs[2]._id,src=docs[2].url, alt=docs[2].body) 
        div
          h6= docs[2].title 
            small.pull-right= "by "+docs[2].createUserName
          a.btn(href='/'+docs[2]._id ) Show me the Stories »
      