!!! 5
html
  head
    include bootstrap
    title= title
  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container-fluid
          a(href='/').brand 
            i.icon-fire.icon-white
            | 
            span Spark.
          div.nav-collapse
            ul.nav
              li.divider-vertical
              li
                a(href='/scenes')
                  i.icon-book.icon-white 
                  | 
                  span Browse Scenes
              li
                a(href='/new') 
                  i.icon-file.icon-white 
                  | 
                  span Add Scene
              li
                a.highlight(href='/random')
                  i.icon-random.icon-white
                  |  
                  span Inspire me! 
              li.divider-vertical
              li
                a(href='#') 
                  i.icon-envelope.icon-white 
                  | 
                  span Contact
              li
                a(href='/howto')
                  i.icon-info-sign.icon-white 
                  | 
                  span HowTo
            p.navbar-text.pull-right
              - if (everyauth.loggedIn)
                span= "Logged in as "+ everyauth.twitter.user.name +" "
                a(href="/logout")= "Logout"
              - else
                a(href= "/auth/twitter")= "Login with Twitter"          
    div.container!= body      
      footer
        p &copy; 
          a(href= "http://www.arvidkahl.de")="Arvid Kahl"
          | . This service is built with 
          a(href= "http://nodejs.org")= "Node.js"
          |, 
          a(href= "http://www.expressjs.com")="Express"
          |, 
          a(href= "http://couchdb.apache.org/")="CouchDB"
          |, 
          a(href= "http://lesscss.org/")="LESS" 
          |, 
          a(href= "http://coffeescript.org/")="Coffee-Script" 
          |  and 
          a(href= "http://twitter.github.com/bootstrap/")="Twitter Bootstrap"
          |.
          br
          | It is hosted on 
          a(href="http://www.nodester.com/") Nodester
          |, which is just plain awesome. It's using 
          a(href="http://www.iriscouch.com/") IrisCouch 
          | to host the Scenes and Stories. 