!!! 5
html
  head
    include bootstrap
    title= title
  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container-fluid
          a(href='/').brand Spark.
          div.nav-collapse
            ul.nav
              li
                a(href='/#')
                  i.icon-book.icon-white
                  | Browse Scenes
              li
                a(href='/new') 
                  i.icon-file.icon-white
                  | Add Scene
              li
                a(href='#') 
                  i.icon-envelope.icon-white
                  | Contact
            p.navbar-text.pull-right
              - if (everyauth.loggedIn)
                span= "Logged in as "+ everyauth.twitter.user.name +" "
                a(href="/logout")= "Logout"
              - else
                a(href= "/auth/twitter")= "Login with Twitter"          
    div.container
      div.row!= body
      
      footer
        p &copy; 
          a(href= "http://www.arvidkahl.de")="Arvid Kahl"
          | . This service is built with 
          a(href= "http://nodejs.org")= "Node.js"
          |, 
          a(href= "http://www.http://expressjs.com")="Express"
          |, 
          a(href= "http://couchdb.apache.org/")="CouchDB"
          |, 
          a(href= "http://lesscss.org/")="LESS" 
          |  and 
          a(href= "http://coffeescript.org/")="Coffee-Script"
          |.