!!! 5
html
  head
    include bootstrap
    title= title
  body
    div.navbar.navbar-fixed-top#sparkNavBar
      div.navbar-inner
        div.container-fluid
          a(href='/').brand 
            i.icon-asterisk.icon-white
            span Spark.
          div.nav-collapse
            ul.nav
              li.active
                a.highlight(href='/random')
                  span Inspire me! 
              li
                a(href='/scenes')
                  span Browse Scenes
              li.divider-vertical
              li
                a(href='/new') 
                  //i.icon-file.icon-white 
                  //| 
                  span Add Scene
              li.divider-vertical
              li
                a(href='#') 
                  //i.icon-envelope.icon-white 
                  //| 
                  span Contact
              li.divider-vertical
              li
                a(href='/howto')
                  //i.icon-info-sign.icon-white 
                  //| 
                  span How does it work?

            p.navbar-text.pull-right.highlightLogin
              - if (everyauth.loggedIn)
                span= "Logged in as "
                img.twitterImage(src=everyauth.twitter.user.profile_image_url)
                span= " "+ everyauth.twitter.user.name +" - "
                a(href="/logout")= "Logout"
              - else
                a(href= "/auth/twitter")= "Login with Twitter"          
    div.container
      - if (typeof(flashError) != "undefined" ||  (typeof(flashInfo) != "undefined"))
        div.row.notices
          .span12
           - if (typeof(flashError) != "undefined")
            - if (flashError != '')
              .alert.alert-error
                a.close(data-dismiss='alert')= "x"
                strong Oops!  
                - for singleFlash in flashError
                  span= singleFlash
           - if (typeof(flashInfo) != "undefined")
            - if (flashInfo != '')
              .alert.alert-success
                a.close(data-dismiss='alert')= "x"
                strong Fantastic!  
                - for singleFlash in flashInfo
                  span= singleFlash
      !=body      
      footer
        p &copy; 
          a(href= "http://www.arvidkahl.de")="Arvid Kahl"
          | . This service is built with 
          a(href= "http://nodejs.org")= "Node.js"
          |, 
          a(href= "http://www.expressjs.com")="Express"
          |, 
          a(href= "http://couchdb.apache.org/")="CouchDB"
          |, 
          a(href= "http://lesscss.org/")="LESS" 
          |, 
          a(href= "http://coffeescript.org/")="Coffee-Script" 
          |  and 
          a(href= "http://twitter.github.com/bootstrap/")="Twitter Bootstrap"
          |.
          br
          | It is hosted on 
          a(href="http://www.nodester.com/") Nodester
          |, which is just plain awesome. It's using 
          a(href="http://www.iriscouch.com/") IrisCouch 
          | to host the Scenes and Stories. 
          
        p You can find the code that runs Spark on  
          strong
            a(href="https://www.github.com/arvidkahl/node-spark")="GitHub.com"  
          |.
    script
     $(function(){
       $('.alert').alert();
       $('#sparkNavBar div.navbar-inner').noisy({
        'intensity' : 1,
        'size' : '139',
        'opacity' : 0.05,
        'fallback' : '',
        'monochrome' : true});
       });