div.row#sceneRow
  div.span12  
    h6#scenesLoading Scenes are being loaded...
    ul#scenes
      - each doc in docs
        li
         .well
          a(href='/'+doc._id)
            div.image
              img(id=doc._id,src=doc.url, alt=doc.body) 
            div
              h6= doc.title 
                small.pull-right= "by "+doc.createUserName
              - var storiesNum = (doc.stories.length > 0 ? "Show me the Stories! ("+doc.stories.length+" available)" : "No Stories yet. Write one!")
              a.btn(href= doc._id )= storiesNum+" »"
          
script
 $(window).load(function(){
   $("#scenesLoading").addClass("hide");
   $('#scenes li').wookmark({container:$('#scenes'),offset:5,itemWidth:260,autoResize:true});
  });