div.row#sceneRow
  div.span12  
    ul#scenes
      - each doc in docs
        li
         .well
          a(href='/'+doc._id)
            div.image
              img(id=doc._id,src=doc.url, alt=doc.body) 
            div
              h6= doc.title 
                small.pull-right= "by "+doc.createUserName
              a.btn(href= doc._id ) Show me the Stories »
          
script
 $('#scenes li').wookmark({container:$('#scenes'),offset:5,itemWidth:260,autoResize:true});
 
 
// h1= article.title + "("+i+")"
// div.created #{(new Date(article.created_at)).toGMTString()}
 