div.row
  div.span4
    .well.info
      p
        i.icon-flag 
        | 
        strong Scene found at
        a.pull-right(href=doc.found) Location
      p 
        i.icon-user 
        | 
        strong Scene created by
        span.pull-right= doc.creator
  div.span4
    .well.info
      p
        i.icon-comment 
        | 
        strong Stories for this Scene
        span.pull-right #{doc.stories.length}
      p
        i.icon-exclamation-sign 
        | 
        strong Copyright Information
        span.pull-right 
          a(href="#") linked here
  div.span4
    .well.info
      p 
        i.icon-cog 
        | 
        strong Description
        p= doc.body

- if (typeof(notice) != 'undefined')  
  p=notice

div.row
  div.span6
      .well
        h1.sceneTitle= doc.title+" "
        div.created.hide #{(new Date(doc.created_at)).toGMTString()}
        div.image
          a#scene(href=doc.url)
            img(src=doc.url) 
          small.pull-right added by #{doc.createUserName}
          script
            $(function(){$('#scene').lightBox({overlayOpacity:0.9});});
        - if (everyauth.userId == doc.createUserId)
          - var editLink = "/"+doc._id+'/edit' 
          a.editScene.btn.btn-mini.btn-warning(href=("/"+doc._id+'/edit')) Edit Scene
          form(method="post", action="/"+doc._id+'/delete')
            button.btn.btn-mini.btn-danger(href=("/"+doc._id+'/delete')) Delete Scene
              
  div.span6
    - each story in doc.stories
      div.well
        - if (everyauth.userId == story.createUserId)
          - switcheroo = "javascript:$('#"+story._id+"').removeClass('hide').addClass('show');$('#"+story._id+"_text').removeClass('show').addClass('hide');$('#"+story._id+"_alert').removeClass('show').addClass('hide');"
          div.hide(id=story._id)
            form.form-horizontal(method="post", action="/"+id+"/save/"+story._id)
              .control-group
                input.input-xlarge(type="text", id="title", name="title", value=story.title)
              .control-group
                textarea.input-xlarge(name="story",  id="story", rows="4")= story.story
              .control-group
                input.btn.btn-primary.btn-mini(type="submit", value="Save changes to your Story.") 
            form(method="post", action='/'+id+'/delete/'+story._id)
              input.btn.btn-danger.btn-mini(type='submit', value='Delete your Story')
          div.alert.alert-info(id=story._id+'_alert',onclick=switcheroo) Click here to edit this Story.  
        div.storyDisplay(id=story._id+'_text')
          h4= story.title
          h6.storyUserName written by #{story.createUserName}
          //p.storyDisplay
          pre= story.story
    
    
    - if (everyauth.loggedIn)
      form.form-horizontal(method="post", action="/"+id+"/add")
        .control-group
          input.input-xlarge(type="text", id="title", name="title", placeholder="Name your story...")
        .control-group
          textarea.input-xlarge(name="story",  id="story", rows="4", placeholder="Enter your story here...")
        .control-group
          input.btn.btn-primary(type="submit", value="Add Story to Scene.") 
          | 
          input.btn(type="reset", value="Reset")
    - else 
      .alert
        a.close(data-dismiss="alert") x
        h4.alert-headin Hello there!
        | Do you want to add a Story? Log in and share the results of your imagination!