div.span12
    .well
      - if (everyauth.userId == doc.createUserId)
        - var editLink = "/"+doc._id+'/edit' 
        div.btn-group
          a.btn.btn-mini.btn-warning(href= editLink) Edit Image 
          | 
          a.btn.btn-mini.btn-danger(href=("/"+doc._id+'/delete')) Delete Image
      h1= doc.title
      div.created #{(new Date(doc.created_at)).toGMTString()}
      div.image
        img(src=doc.url) 

    - each story in doc.stories
      div.well
        - if (everyauth.userId == story.createUserId)
          - switcheroo = "javascript:$('#"+story._id+"').removeClass('hide').addClass('show');$('#"+story._id+"_text').removeClass('show').addClass('hide');$('#"+story._id+"_alert').removeClass('show').addClass('hide');"
          form.form-horizontal.hide(id=story._id, method="post", action="/"+id+"/save/"+story._id)
            .control-group
              input.input-xlarge(type="text", id="title", name="title", value=story.title)
            .control-group
              textarea.input-xlarge(name="story",  id="story", rows="4")= story.story
            .control-group
              input.btn.btn-primary(type="submit", value="Save changes to your Scene.") 
          div.alert.alert-info(id=story._id+'_alert',onclick=switcheroo) Click here to edit this Story.  
        div(id=story._id+'_text')
          h4= story.title
          p= story.story
        
        
    - if (everyauth.loggedIn)
      form.form-horizontal(method="post", action="/"+id+"/add")
        .control-group
          input.input-xlarge(type="text", id="title", name="title", placeholder="Name your story...")
        .control-group
          textarea.input-xlarge(name="story",  id="story", rows="4", placeholder="Enter your story here...")
        .control-group
          input.btn.btn-primary(type="submit", value="Add Story to Scene.") 
          | 
          input.btn(type="reset", value="Reset")
    - else 
      .alert
        a.close(data-dismiss="alert") x
        h4.alert-headin Hello there!
        | Do you want to add a Story? Log in and share the results of your imagination!